@import "slider.scss";

.sidebar {
  padding: 10px;
}
.x-p {
  font-size: xx-large;
  text-align: center;
}

#remove-deltas {
  display: none;
}

.navbar-right {
  margin-right: 0px;
}

.input-number {
  width: 115px;
}

#canvas {
  //overflow-x: scroll;
}

.sidebar {
  //width: 500px;
}

.focused {
  //border-bottom: 10px solid #daedf7;
}

.buttons {
  width: 300px;
  display: flex;

  #colors-number {
    width: 70px;
  }

  //label, input, button, span {
  //    float: left;
  //}
}

.separator {
  align-self: stretch;
  border-left: 1px solid #eee;
  margin-right: 20px;
  margin-left: 20px;

  width: 1px;
}

input[type=range].form-control {
  -webkit-appearance: none;
  align-self: center;
  border-right: solid 1.25em transparent;
  border-left: solid 1.25em transparent;
  padding: 0;
  border-radius: .25em;
  background: transparent;
  font-size: 1em;
  cursor: pointer;

}

#color-picker {
  /*width: 300px;*/
}

.hsv-sliders, .delta-sliders {
  label {
    display: flex;
    align-items: baseline;
    span {
      //width: 10px;
      text-align: right;
      margin-right: 15px;
    }
  }
  input[type=number] {
    width: 70px;
  }

}

.delta-sliders {
  //border-left: 1px solid #eee;
  //padding-left: 25px;
  //margin-left: 25px;
}

.controls {
  display: flex;
}

// Slider
.slider.slider-horizontal {
  top: 5px;
}

/* Color picker 2x */
.colorpicker-2x .colorpicker-saturation {
  i {
    margin: -2.5px 0 0 -2.5px;
  }
}

.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-2x .colorpicker-preview,
.colorpicker-2x .colorpicker-preview div {
  height: 30px;
  font-size: 16px;
  line-height: 160%;
}

.colorpicker-saturation .colorpicker-guide,
.colorpicker-saturation .colorpicker-guide i {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.colorpicker-component {
  margin-bottom: 10px;
}

.dot {
  display: block;
  height: 4px;
  width: 4px;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  
  margin-top: -1px;
  margin-left: -1px;

  b {
    display: block;
    height: 4px;
    width: 4px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.line {
  display: block;
  height: 1px;
  background: #000;
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  margin-top: -1px;
}
